{% extends 'DtlApp/base.html' %}
{% block titile %} Update {% endblock %}
{% block content %}
<div class="container">
    <div class="card col-md-6 mx-auto">
        <h2 class="bg-secondary text-white text-center border-rounded p-2 m-2">Update</h2>
        <form class="m-2" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-bordered">
                {% for d in c %}
                <tr>
                    <td>{{d}}</td>
                </tr>
                {% endfor %}
                {% for q in y %}
                <tr>
                    <td>{{q}}</td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Update" class=" btn btn-block btn-success">
        </form>
    </div>
</div>
{% endblock %}