<!DOCTYPE html>
<html>
<head>
	<title>::homework file::</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<style rel="stylesheet" href="css/homework.css"></style>

</head><center>
<body class="container">
	<h1><b><u>Bootstrap color codes</u></b></h1>
<u><h1>Color to text:</h1><br></u>
<h1 class="text-white">hello this is text-white</h1><br>
<h1 class="text-primary">hello this is text-primary</h1><br>
<h1 class="text-warning">hello this is text-warning</h1><br>
<h1 class="text-danger">hello this is text-danger</h1><br>
<h1 class="text-success">hello this is text-success</h1><br>
<h1 class="text-light">hello this is text-light</h1><br>
<h1 class="text-dark">hello this is text-dark</h1><br>
<h1 class="text-secondary">hello this is text-secondry</h1><br><hr>
<u><h1>Color to background:</h1><br></u>
<h1 class="bg-white">hello this is bg-white</h1><br>
<h1 class="bg-primary">hello this is bg-primary</h1><br>
<h1 class="bg-warning">hello this is bg-warning</h1><br>
<h1 class="bg-danger">hello this is bg-danger</h1><br>
<h1 class="bg-success">hello this is bg-success</h1><br>
<h1 class="bg-light">hello this is bg-light</h1><br>
<h1 class="bg-dark">hello this is bg-dark</h1><br>
<h1 class="bg-secondary">hello this is bg-secondry</h1><br><hr>
<u><h1>Color to button:</h1><br></u>
<h1 class="btn btn-white">hello this is btn-white</h1>
<h1 class="btn btn-primary">hello this is btn-primary</h1>
<h1 class="btn btn-warning">hello this is btn-warning</h1>
<h1 class="btn btn-danger">hello this is btn-danger</h1>
<h1 class="btn btn-success">hello this is btn-success</h1>
<h1 class="btn btn-light">hello this is btn-light</h1>
<h1 class="btn btn-dark">hello this is btn-dark</h1>
<h1 class="btn btn-secondary">hello this is btn-secondry</h1>
</body>

</center>

</html>