<!DOCTYPE html>
<html>
<head>
	<title>REGISTRATION PAGE</title>
</head>
<body>
      <form>
      	<h1>(:: REGISTRATION PAGE ::)</h1>
	      <label for="first_name">FIRST NAME:</label><input type="text" name="" id="first_name" placeholder="enter first name"><br>
	      <label for="last_name">LAST NAME:</label><input type="text" name="" id="last_name" placeholder="enter last name"><br>
	      <label for="email">EMAIL:</label><input type="email" name="" id="email" placeholder="enter email id"><br>
	      <label for="mobile">PHONE NO:</label><input type="text" name="" id="mobile" placeholder="enter phone no"><br>
	      <label for="rollno">ROLL NO:</label><input type="text" name="" id="rollno" placeholder="enter rollno"><br>
	      <p>Are u interest in learning web development?</p>
	      <label for="yes">YES:</label><input type="radio" value="yes" id="yes">
	      <label for="no">No:</label><input type="radio" value="no" id="no"><br>
	      <p>GENDER:</p>
	      <input type="radio" name="gender" value="male"id="male">
	      <label for="male">MALE</label><br>
	      <input type="radio" name="gender" value="female" id="female">
	      <label for="female">FEMALE</label><br>
	      <input type="submit" name="" value="Submit">
    </form>
</body>
</html>

