<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body><center>
	<div class ="forget">
      <form>
        <label>password</label>
        <br>
        <input id="password" type="password" placeholder="password"><br>
        <label>re-enter password</label><br>
        <input id="password" type="password" placeholder="re-enter password"><br><br>
        <a class="btn btn-primary" align="center" href="test.html">Save</a>
      </form>
</center>
</body>
</html>