<!DOCTYPE html>
<html>
    <head>
      <title> polytechnic program </title>
      <link rel="stylesheet" type="text/css" href="css/flex.css">
      <meta name="viewport" content="width=device-width,initial-scale=1">

    </head>
    <body>
      <section class="resume">
        <article class="profile">
          <img src="C:\Users\matti\Downloads\student.svg">
          <h1>Abcdefghi</h1>
            <a href="telto:6305967100">0987654321</a>
            <br/>
          <a href="mailto:mattinarendra222@gmail.com">abcdefhi@gmail.com</a>
        </article>      
        <article class="summary">
          <h1>summary:</h1>
          <hr>
          <ul> 
            <li>I have No exprience technically </li>
            <li>I have pratical rxposure on nothing to say</li>
            <li>I have knowledge on data bases mysql,sql and oracle</li>
          </ul>
          <h1>Eductional details:</h1>
          <hr/>
          <table border="3">
            <tr>
              <th>school/collage</th>
              <th>course</th>
              <th>percentage/CGPA</th>
              <th>year of passing</th>
              <tr>
                 <td>
                 sri chaitanya techno school</td>
                 <td>SSC</td>
                 <td>(.*</td>
                 <td>2018</td>
              </tr> 
              <tr>
                  <td>A.A.N.M & V.V.R.S.R collage</td>
                 <td>CME(Diploma in computer engineering)</td>
                 <td>**.$</td>
                 <td>2021</td> </td>
              </tr>
            </table>
                    <h1>skillset:</h1>
                    <hr>
                    <u><h3>webtechnologies</h3></u>
                    <ul class="skill">
                      <li>html</li>
                      <li>css</li>
                      <li>java script</li>
                    </ul>
                    <u><h3>frameworks</h3></u>
                    <ul class="skill_frame">
                      <li>bootstrap</li>
                      <li>express.js</li>
                      <li>vue.js</li><br>
                      <li>Angular.js</li>
                    </ul>
                     <u> <h3>Databases</h3></u>
                     <ul class="skill_db">
                      <li>oracle</li>
                      <li>sql</li>
                      <li>mysql</li>
                    </ul> 
      </section>    
    </body>
</html>