<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="signup.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="icon"  href="images/hac.jpg">
</head>
<body>
	<div class="signup">
		<center>
			<h1>Sign up?</h1></center>
			<form>
				<label>Email address:</label>
			<input type="text" placeholder ="enter mail address"><br>
			<label>First Name:</label>
			<input type="text" placeholder ="first name"><br>
			<label>Last Name:</label>
			<input type="text" placeholder ="last name"><br>
			<label>mobile:</label>
			<input type="text" placeholder ="+91-"><br>
			<label>Password:</label>
			<input type="password" placeholder ="set more than 8 characters" ><br><label></label><br>
			 <center><a class="btn btn-primary" href="login1.html">Sign in</a></center>
		</form>
		
	</div>
</body>
</html>