<!DOCTYPE html>
<html>
<head>
	<title>::bootstrap table::</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width,initial-scale=1">

</head>
<body>
	<div class="container mt-5">
		<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">s.no</th>
				<th scope="col">first name</th>
				<th scope="col">last name</th>
				<th scope="col">age</th>
				<th colspan="2">actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td scope="row">1</td>
				<td>kollati</td>
				<td>Rakesh</td>
				<td>18</td>
                <td>edit</td>
                <td>delete</td>
			</tr>
			<tr>
				<td>2</td>
				<td>mark</td>
				<td>juker</td>
				<td>35</td>
				<td>edit</td>
                <td>delete</td>
			</tr>
			<tr>
				<td>3</td>
				<td>elon</td>
				<td>musk</td>
				<td>40</td>
                <td>edit</td>
                <td>delete</td>
			</tr>
			<tr>
				<td>4</td>
				<td>mark</td>
				<td>juker</td>
				<td>35</td>
				<td>edit</td>
                <td>delete</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>total count</td>
			</tr>
		</tfoot>
	</table>
</div>
</div>
</body>
</html>