<!DOCTYPE html>
<html>
<head>
	<title>:: bootstrap tables::</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-5">
		<div class="table-responsive-lg"></div>
		<table class="table  table-bordered table-hover">
			<meta name="viewport" content="width=device-width,initial-scale=1">

		<thead class="thead-dark">
			<tr>
				<th scope="col">S.No</th>
				<th scope="col">continent</th>
				<th scope="col">First Name</th>		
				<th scope="col">Last Name</th>
				<th scope="col">Age</th>
				<th colspan="2">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td rowspan="4">non-asia</td>
				<td>mac</td>
				<td>thon</td>
				<td>18</td>
				<td>edit</td>
				<td>delete</td>

			</tr>
			<tr>
				<td>2</td>
				<td>kevin</td>
				<td>owens</td>
				<td>22</td>
				<td>edit</td>
				<td>delete</td>
				
			</tr>
			<tr>
				<td>3</td>
				
				<td>the</td>
				<td>rock</td>
				<td>52</td>
				<td>edit</td>
				<td>delete</td>
			</tr>
			<tr>
				<td>4</td>
				
				<td>seth</td>
				<td>rollins</td>
				<td>32</td>
				<td>edit</td>
				<td>delete</td>
			</tr>
			</tbody>
			<!-- <tfoot><td>total count</td></tfoot> -->
		
	</table></div>


</body>
</html>